@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald');


html {
  background-color: transparent;
}

body {
  background-image: url(./trianglify.svg);
  background-repeat: repeat-y;
  background-size: initial;
  font-family: "Oswald", sans-serif;
}

h1 {
  font-family: "Abril Fatface", serif;
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
}

p {
  font-size: 1.2em;
  line-height: 1.2em;
}

.header {
  margin-bottom: -1em;
}

text {
  margin-bottom: -1em;
}

.lead {
  font-size: 1.6em;
  text-align: center;
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  min-width: 60%;
  min-height: 90%;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  -moz-box-shadow: 0 0 25px rgb(165, 165, 165);
  -webkit-box-shadow: 0 0 25px rgb(165, 165, 165);
  box-shadow: 0 0 25px rgb(165, 165, 165);
  text-align: center;
}



a:hover {
  color: white;
}

h2 {
  font-size: 1.5em;
  padding-bottom: 1em;
}

.otherinfo p {
  line-height: 2.5em;
  text-align: left;
}


@media (max-width: 1200px) {
 h1 {
   font-size: 2em;
 }
 .lead {
   font-size: 1em;
 }
}